<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Neo Fatorial</title>
    <meta name="description" content="Neo Fatorial">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

</head>
<div class="simple-subscription-form">
    <form method="POST">
        <h4>Neo Fatorial</h4>
        <p>Insira um valor para calcular o fatorial :</p>
        <div class="input-group">
            <span class="input-group-label">
        <i class="fa fa-envelope"></i>
      </span>
            <input class="input-group-field" type="text" name="value" placeholder="Insira um número" required>
            <button class="button">Sign up now</button>
    </form>
    </div>

    <body>
        <!-- <script src="/static/js/scripts.js"></script> -->
    </body>

</html>